.login-wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    height: 850px;
    width: 500px
}
.login-card {
    /* background-color: rebeccapurple; */
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.134),
        0 6.7px 5.3px rgba(0, 0, 0, 0.148),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.172),
        0 41.8px 33.4px rgba(0, 0, 0, 0.186),
        0 100px 80px rgba(0, 0, 0, 0.12);
        border-radius: 10px;
        overflow: hidden;

}

.login-input {
    background-color: var(--main-green);
    border-radius: 25px;
    color: #FFF;
}

.login-input input {
    background-color: transparent;
    outline: none;
}

.login-input input::placeholder {
    color: #FFF;
}

.login-btn {
    border-radius: 25px;
    background-color: var(--main-green);
    color: #FFF;
    transition: all 0.5s ease-in-out;
}

.login-btn:hover {
    background-color: var(--main-green-darker);
}

/* .hyperlink {
} */

.register-select {
    appearance: none;
    outline: none;
    background-color: transparent;
    color: black;
}

.register-textarea{
    appearance: none;
    outline: none;
    /* background-color: rgba(255, 255, 255, 0.493); */
    background-color: transparent;
    color: #FFF;
    resize: none;
    /* border-radius: 25px; */
}

.register-textarea::placeholder{
    color: #FFF;
}
